pipeline/VFD_PL_List_CSV_Files_With_DataFlow.json
{
	"name": "VFD_PL_List_Raw_CSV_Files",
	"properties": {
		"activities": [
			{
				"name": "Until_All_Folders_Processed",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(length(variables('foldersToProcess')), 0)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set_Current_Folder",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "currentFolder",
								"value": {
									"value": "@variables('foldersToProcess')[0]",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Get_Metadata_Current_Folder",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "Set_Current_Folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Generic_Folder",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@variables('currentFolder')"
									}
								},
								"fieldList": [
									"childItems"
								]
							}
						},
						{
							"name": "ForEach_ChildItem",
							"type": "ForEach",
							"dependsOn": [
								{
									"activity": "Get_Metadata_Current_Folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Get_Metadata_Current_Folder').output.childItems",
									"type": "Expression"
								},
								"activities": [
									{
										"name": "Set_Item_Name_Type",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "currentItemName",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set_Item_Type",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set_Item_Name_Type",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "currentItemType",
											"value": {
												"value": "@item().type",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Append_Folder_Or_File",
										"type": "IfCondition",
										"dependsOn": [
											{
												"activity": "Set_Item_Type",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"expression": {
												"value": "@equals(variables('currentItemType'), 'Folder')",
												"type": "Expression"
											},
											"ifFalseActivities": [
												{
													"name": "AppendCSVToList",
													"type": "AppendVariable",
													"dependsOn": [],
													"userProperties": [],
													"typeProperties": {
														"variableName": "fileList",
														"value": {
															"value": "@concat(variables('currentFolder'), '/', variables('currentItemName'))",
															"type": "Expression"
														}
													},
													"condition": {
														"expression": "@endsWith(variables('currentItemName'), '.csv')"
													}
												}
											],
											"ifTrueActivities": [
												{
													"name": "AppendFolderToQueue",
													"type": "AppendVariable",
													"dependsOn": [],
													"userProperties": [],
													"typeProperties": {
														"variableName": "foldersToProcess",
														"value": {
															"value": "@concat(variables('currentFolder'), '/', variables('currentItemName'))",
															"type": "Expression"
														}
													}
												}
											]
										}
									}
								]
							}
						},
						{
							"name": "Prepare_Updated_Folders",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ForEach_ChildItem",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "updatedFolders",
								"value": {
									"value": "@skip(variables('foldersToProcess'),1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Remove_Current_From_Queue",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Prepare_Updated_Folders",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "foldersToProcess",
								"value": {
									"value": "@variables('updatedFolders')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Prepare_JSON_String",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Until_All_Folders_Processed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileListText",
					"value": {
						"value": "@jsonString(variables('fileList'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "WriteFileListToJSON",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Prepare_JSON_String",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "InlineSource",
						"inlineDatasetProperties": {
							"type": "Json"
						},
						"data": {
							"type": "Expression",
							"value": "@variables('fileListText')"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Dummy_JSON_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Output_JSON_List",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"foldersToProcess": {
				"type": "Array",
				"defaultValue": [
					"raw"
				]
			},
			"fileList": {
				"type": "Array",
				"defaultValue": []
			},
			"currentFolder": {
				"type": "String"
			},
			"updatedFolders": {
				"type": "Array",
				"defaultValue": []
			},
			"currentItemName": {
				"type": "String"
			},
			"currentItemType": {
				"type": "String"
			},
			"fileListText": {
				"type": "String"
			}
		},
		"annotations": []
	}
}