pipeline/VFD_PL_SurveyMonkey_RawToProcessed_Gradimento.json
{
	"name": "VFD_PL_SurveyMonkey_RawToProcessed_Gradimento",
	"properties": {
		"activities": [
			{
				"name": "ListAllFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Raw_SurveyMonkey_Gradimento_Excel",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ListAllFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListAllFiles').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "setFileName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "setYear",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "setYear",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "year",
								"value": "@split(item().name, '-')[1]\n"
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CheckProcessed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('CheckProcessed').output.exists, false)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ExcelSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "VFD_DS_Raw_SurveyMonkey_Gradimento_Excel",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "VFD_DS_Processed_SurveyMonkey_Gradimento_Parquet",
												"type": "DatasetReference",
												"parameters": {
													"pYear": "@variables('year')",
													"pFileName": "@variables('fileName')"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "CheckProcessed",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "setFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Processed_SurveyMonkey_Gradimento_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"pYear": "@variables('fileName')",
										"pFileName": "@variables('year')"
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"fileName": {
				"type": "String"
			},
			"year": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SurveyMonkey"
		},
		"annotations": []
	}
}