pipeline/VFD_PL_Weather_API_Daily.json
{
	"name": "VFD_PL_Weather_API_Daily",
	"properties": {
		"description": "Pipeline per acquisire dati meteo da Visual Crossing API e processarli",
		"activities": [
			{
				"name": "SetDataInizio",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "data_inizio",
					"value": {
						"value": "@coalesce(pipeline().parameters.data_inizio, formatDateTime(addDays(utcNow(), -1), 'yyyy-MM-dd'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetDataFine",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "data_fine",
					"value": {
						"value": "@coalesce(pipeline().parameters.data_fine, formatDateTime(addDays(utcNow(), -1), 'yyyy-MM-dd'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetLocation",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "location",
					"value": {
						"value": "@coalesce(pipeline().parameters.location, 'Milano')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetYear",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetDataInizio",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "year",
					"value": {
						"value": "@substring(variables('data_inizio'), 0, 4)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetMonth",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetYear",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "month",
					"value": {
						"value": "@substring(variables('data_inizio'), 5, 2)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetFolderPath",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "folderPath",
					"value": {
						"value": "@concat('Weather/', variables('year'), '/', variables('month'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetFileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetDataFine",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetFolderPath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileName",
					"value": {
						"value": "@concat('weather_', replace(variables('data_inizio'), '-', ''), '_', replace(variables('data_fine'), '-', ''), '.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CheckIfExistsInRaw",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "SetFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Raw_Weather_CSV",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@variables('folderPath')",
								"type": "Expression"
							},
							"fileName": {
								"value": "@variables('fileName')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "IfNotExistsInRaw",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckIfExistsInRaw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(activity('CheckIfExistsInRaw').output.exists)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CopyFromAPI",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": false,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "VFD_DS_VisualCrossing_Historical_API",
									"type": "DatasetReference",
									"parameters": {
										"data_inizio": {
											"value": "@variables('data_inizio')",
											"type": "Expression"
										},
										"data_fine": {
											"value": "@variables('data_fine')",
											"type": "Expression"
										},
										"location": {
											"value": "@variables('location')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VFD_DS_Raw_Weather_CSV",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": {
											"value": "@variables('folderPath')",
											"type": "Expression"
										},
										"fileName": {
											"value": "@variables('fileName')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Raw to Curated Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "IfNotExistsInRaw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_Weather_Raw_Curated",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"folderPath": {
							"value": "@variables('folderPath')",
							"type": "Expression"
						},
						"fileName": {
							"value": "@variables('fileName')",
							"type": "Expression"
						},
						"year": {
							"value": "@variables('year')",
							"type": "Expression"
						},
						"month": {
							"value": "@variables('month')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"data_inizio": {
				"type": "String"
			},
			"data_fine": {
				"type": "String"
			},
			"location": {
				"type": "String"
			}
		},
		"variables": {
			"data_inizio": {
				"type": "String"
			},
			"data_fine": {
				"type": "String"
			},
			"location": {
				"type": "String"
			},
			"year": {
				"type": "String"
			},
			"month": {
				"type": "String"
			},
			"folderPath": {
				"type": "String"
			},
			"fileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Visual Crossing/Weather"
		},
		"annotations": []
	}
}