pipeline/VFD_PL_Mida2_Atomic_INSERT_Booking_Complete.json
{
	"name": "VFD_PL_Mida2_Atomic_INSERT_Booking_Complete",
	"properties": {
		"description": "Pipeline atomica per inserimento di una prenotazione nel file completo - riceve tutti i campi come parametri",
		"activities": [
			{
				"name": "Check Complete File Exists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Curated_Mida_Bookings_Complete_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": "@pipeline().parameters.targetFolderPath",
							"fileName": "@pipeline().parameters.targetFileName"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "If File Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Complete File Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Check Complete File Exists').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Create New Complete File",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "VFD_DFL_Mida2_Atomic_CREATE_Booking_Complete",
									"type": "DataFlowReference",
									"parameters": {
										"guid_pk": "@{pipeline().parameters.guid_pk}",
										"reservation_progressiveCode": "@{pipeline().parameters.reservation_progressiveCode}",
										"reservation_code": "@{pipeline().parameters.reservation_code}",
										"reservation_status": {
											"value": "@pipeline().parameters.reservation_status",
											"type": "Expression"
										},
										"invoiceRequired": "@{pipeline().parameters.invoiceRequired}",
										"customer": {
											"value": "@pipeline().parameters.customer",
											"type": "Expression"
										},
										"visitDate": "@{pipeline().parameters.visitDate}",
										"reservationPayment_guid": "@{pipeline().parameters.reservationPayment_guid}",
										"parentPayment_guid": "@{pipeline().parameters.parentPayment_guid}",
										"sliced": "@{pipeline().parameters.sliced}",
										"reservation_guid": "@{pipeline().parameters.reservation_guid}",
										"group_guid": "@{pipeline().parameters.group_guid}",
										"group_label": "@{pipeline().parameters.group_label}",
										"group_email": "@{pipeline().parameters.group_email}",
										"paymentCode": "@{pipeline().parameters.paymentCode}",
										"paymentCondition": {
											"value": "@pipeline().parameters.paymentCondition",
											"type": "Expression"
										},
										"reservation_amount": {
											"value": "@pipeline().parameters.reservation_amount",
											"type": "Expression"
										},
										"reservation_amountTax": {
											"value": "@pipeline().parameters.reservation_amountTax",
											"type": "Expression"
										},
										"status": {
											"value": "@pipeline().parameters.status",
											"type": "Expression"
										},
										"status_text": "@{pipeline().parameters.status_text}",
										"stamp": "@{pipeline().parameters.stamp}",
										"notes": "@{pipeline().parameters.notes}",
										"transactionType": "@{pipeline().parameters.transactionType}",
										"transactionType_text": "@{pipeline().parameters.transactionType_text}",
										"paymentLimitDate": "@{pipeline().parameters.paymentLimitDate}",
										"paymentDate": "@{pipeline().parameters.paymentDate}",
										"refund": "@{pipeline().parameters.refund}",
										"refunded": "@{pipeline().parameters.refunded}",
										"convention_label": "@{pipeline().parameters.convention_label}",
										"receiptCode": "@{pipeline().parameters.receiptCode}",
										"insertTimestamp": "@{pipeline().parameters.insertTimestamp}",
										"updateTimestamp": "@{pipeline().parameters.updateTimestamp}",
										"owner": "@{pipeline().parameters.owner}",
										"owner_text": "@{pipeline().parameters.owner_text}",
										"sessionId": "@{pipeline().parameters.sessionId}",
										"terminal_label": "@{pipeline().parameters.terminal_label}",
										"terminalGroup_label": "@{pipeline().parameters.terminalGroup_label}",
										"gateway_guid": "@{pipeline().parameters.gateway_guid}",
										"gateway_label": "@{pipeline().parameters.gateway_label}",
										"transactionID": "@{pipeline().parameters.transactionID}",
										"bankAccount_guid": {
											"value": "@pipeline().parameters.bankAccount_guid",
											"type": "Expression"
										},
										"bankAccount_label": {
											"value": "@pipeline().parameters.bankAccount_label",
											"type": "Expression"
										},
										"channel_guid": "@{pipeline().parameters.channel_guid}",
										"channel_label": "@{pipeline().parameters.channel_label}",
										"channelType": "@{pipeline().parameters.channelType}",
										"detail_guid": "@{pipeline().parameters.detail_guid}",
										"extra_guid": {
											"value": "@pipeline().parameters.extra_guid",
											"type": "Expression"
										},
										"priceList": "@{pipeline().parameters.priceList}",
										"event": "@{pipeline().parameters.event}",
										"detailType": "@{pipeline().parameters.detailType}",
										"detail_text": "@{pipeline().parameters.detail_text}",
										"detail_label": "@{pipeline().parameters.detail_label}",
										"detail_count": {
											"value": "@pipeline().parameters.detail_count",
											"type": "Expression"
										},
										"paymentDetail_guid": "@{pipeline().parameters.paymentDetail_guid}",
										"detail_payingPartecipants": {
											"value": "@pipeline().parameters.detail_payingPartecipants",
											"type": "Expression"
										},
										"detail_quantity": {
											"value": "@pipeline().parameters.detail_quantity",
											"type": "Expression"
										},
										"tickets_quantity": {
											"value": "@pipeline().parameters.tickets_quantity",
											"type": "Expression"
										},
										"pax_quantity": {
											"value": "@pipeline().parameters.pax_quantity",
											"type": "Expression"
										},
										"costCenter_guid": "@{pipeline().parameters.costCenter_guid}",
										"costCenter_label": "@{pipeline().parameters.costCenter_label}",
										"object_receipt": {
											"value": "@pipeline().parameters.object_receipt",
											"type": "Expression"
										},
										"object_taxCode": "@{pipeline().parameters.object_taxCode}",
										"object_taxNotes": "@{pipeline().parameters.object_taxNotes}",
										"object_amount": {
											"value": "@pipeline().parameters.object_amount",
											"type": "Expression"
										},
										"object_taxPercentage": {
											"value": "@pipeline().parameters.object_taxPercentage",
											"type": "Expression"
										},
										"amount": {
											"value": "@pipeline().parameters.amount",
											"type": "Expression"
										},
										"amountNet": {
											"value": "@pipeline().parameters.amountNet",
											"type": "Expression"
										},
										"amountPresale": {
											"value": "@pipeline().parameters.amountPresale",
											"type": "Expression"
										},
										"amountSold": {
											"value": "@pipeline().parameters.amountSold",
											"type": "Expression"
										},
										"amountPayed": {
											"value": "@pipeline().parameters.amountPayed",
											"type": "Expression"
										},
										"amountPending": {
											"value": "@pipeline().parameters.amountPending",
											"type": "Expression"
										},
										"amountCanceled": {
											"value": "@pipeline().parameters.amountCanceled",
											"type": "Expression"
										},
										"externalId": "@{pipeline().parameters.externalId}",
										"amountRefunded": {
											"value": "@pipeline().parameters.amountRefunded",
											"type": "Expression"
										},
										"invoiceSummary": "@{pipeline().parameters.invoiceSummary}",
										"eventCalendar_guid": "@{pipeline().parameters.eventCalendar_guid}",
										"passDetail_guid": "@{pipeline().parameters.passDetail_guid}",
										"paymentCostCenter_guid": "@{pipeline().parameters.paymentCostCenter_guid}",
										"organization_guid": "@{pipeline().parameters.organization_guid}",
										"venue_guid": "@{pipeline().parameters.venue_guid}",
										"olapUpdateTimestamp": "@{pipeline().parameters.olapUpdateTimestamp}",
										"row_id": "@{pipeline().parameters.row_id}"
									},
									"datasetParameters": {
										"SinkComplete": {
											"folderPath": "@pipeline().parameters.targetFolderPath",
											"fileName": "@pipeline().parameters.targetFileName"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Append To Existing File",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "VFD_DFL_Mida2_Atomic_APPEND_Booking_Complete",
									"type": "DataFlowReference",
									"parameters": {
										"guid_pk": "@{pipeline().parameters.guid_pk}",
										"reservation_progressiveCode": "@{pipeline().parameters.reservation_progressiveCode}",
										"reservation_code": "@{pipeline().parameters.reservation_code}",
										"reservation_status": {
											"value": "@pipeline().parameters.reservation_status",
											"type": "Expression"
										},
										"invoiceRequired": "@{pipeline().parameters.invoiceRequired}",
										"customer": {
											"value": "@pipeline().parameters.customer",
											"type": "Expression"
										},
										"visitDate": "@{pipeline().parameters.visitDate}",
										"reservationPayment_guid": "@{pipeline().parameters.reservationPayment_guid}",
										"parentPayment_guid": "@{pipeline().parameters.parentPayment_guid}",
										"sliced": "@{pipeline().parameters.sliced}",
										"reservation_guid": "@{pipeline().parameters.reservation_guid}",
										"group_guid": "@{pipeline().parameters.group_guid}",
										"group_label": "@{pipeline().parameters.group_label}",
										"group_email": "@{pipeline().parameters.group_email}",
										"paymentCode": "@{pipeline().parameters.paymentCode}",
										"paymentCondition": {
											"value": "@pipeline().parameters.paymentCondition",
											"type": "Expression"
										},
										"reservation_amount": {
											"value": "@pipeline().parameters.reservation_amount",
											"type": "Expression"
										},
										"reservation_amountTax": {
											"value": "@pipeline().parameters.reservation_amountTax",
											"type": "Expression"
										},
										"status": {
											"value": "@pipeline().parameters.status",
											"type": "Expression"
										},
										"status_text": "@{pipeline().parameters.status_text}",
										"stamp": "@{pipeline().parameters.stamp}",
										"notes": "@{pipeline().parameters.notes}",
										"transactionType": "@{pipeline().parameters.transactionType}",
										"transactionType_text": "@{pipeline().parameters.transactionType_text}",
										"paymentLimitDate": "@{pipeline().parameters.paymentLimitDate}",
										"paymentDate": "@{pipeline().parameters.paymentDate}",
										"refund": "@{pipeline().parameters.refund}",
										"refunded": "@{pipeline().parameters.refunded}",
										"convention_label": "@{pipeline().parameters.convention_label}",
										"receiptCode": "@{pipeline().parameters.receiptCode}",
										"insertTimestamp": "@{pipeline().parameters.insertTimestamp}",
										"updateTimestamp": "@{pipeline().parameters.updateTimestamp}",
										"owner": "@{pipeline().parameters.owner}",
										"owner_text": "@{pipeline().parameters.owner_text}",
										"sessionId": "@{pipeline().parameters.sessionId}",
										"terminal_label": "@{pipeline().parameters.terminal_label}",
										"terminalGroup_label": "@{pipeline().parameters.terminalGroup_label}",
										"gateway_guid": "@{pipeline().parameters.gateway_guid}",
										"gateway_label": "@{pipeline().parameters.gateway_label}",
										"transactionID": "@{pipeline().parameters.transactionID}",
										"bankAccount_guid": {
											"value": "@pipeline().parameters.bankAccount_guid",
											"type": "Expression"
										},
										"bankAccount_label": {
											"value": "@pipeline().parameters.bankAccount_label",
											"type": "Expression"
										},
										"channel_guid": "@{pipeline().parameters.channel_guid}",
										"channel_label": "@{pipeline().parameters.channel_label}",
										"channelType": "@{pipeline().parameters.channelType}",
										"detail_guid": "@{pipeline().parameters.detail_guid}",
										"extra_guid": {
											"value": "@pipeline().parameters.extra_guid",
											"type": "Expression"
										},
										"priceList": "@{pipeline().parameters.priceList}",
										"event": "@{pipeline().parameters.event}",
										"detailType": "@{pipeline().parameters.detailType}",
										"detail_text": "@{pipeline().parameters.detail_text}",
										"detail_label": "@{pipeline().parameters.detail_label}",
										"detail_count": {
											"value": "@pipeline().parameters.detail_count",
											"type": "Expression"
										},
										"paymentDetail_guid": "@{pipeline().parameters.paymentDetail_guid}",
										"detail_payingPartecipants": {
											"value": "@pipeline().parameters.detail_payingPartecipants",
											"type": "Expression"
										},
										"detail_quantity": {
											"value": "@pipeline().parameters.detail_quantity",
											"type": "Expression"
										},
										"tickets_quantity": {
											"value": "@pipeline().parameters.tickets_quantity",
											"type": "Expression"
										},
										"pax_quantity": {
											"value": "@pipeline().parameters.pax_quantity",
											"type": "Expression"
										},
										"costCenter_guid": "@{pipeline().parameters.costCenter_guid}",
										"costCenter_label": "@{pipeline().parameters.costCenter_label}",
										"object_receipt": {
											"value": "@pipeline().parameters.object_receipt",
											"type": "Expression"
										},
										"object_taxCode": "@{pipeline().parameters.object_taxCode}",
										"object_taxNotes": "@{pipeline().parameters.object_taxNotes}",
										"object_amount": {
											"value": "@pipeline().parameters.object_amount",
											"type": "Expression"
										},
										"object_taxPercentage": {
											"value": "@pipeline().parameters.object_taxPercentage",
											"type": "Expression"
										},
										"amount": {
											"value": "@pipeline().parameters.amount",
											"type": "Expression"
										},
										"amountNet": {
											"value": "@pipeline().parameters.amountNet",
											"type": "Expression"
										},
										"amountPresale": {
											"value": "@pipeline().parameters.amountPresale",
											"type": "Expression"
										},
										"amountSold": {
											"value": "@pipeline().parameters.amountSold",
											"type": "Expression"
										},
										"amountPayed": {
											"value": "@pipeline().parameters.amountPayed",
											"type": "Expression"
										},
										"amountPending": {
											"value": "@pipeline().parameters.amountPending",
											"type": "Expression"
										},
										"amountCanceled": {
											"value": "@pipeline().parameters.amountCanceled",
											"type": "Expression"
										},
										"externalId": "@{pipeline().parameters.externalId}",
										"amountRefunded": {
											"value": "@pipeline().parameters.amountRefunded",
											"type": "Expression"
										},
										"invoiceSummary": "@{pipeline().parameters.invoiceSummary}",
										"eventCalendar_guid": "@{pipeline().parameters.eventCalendar_guid}",
										"passDetail_guid": "@{pipeline().parameters.passDetail_guid}",
										"paymentCostCenter_guid": "@{pipeline().parameters.paymentCostCenter_guid}",
										"organization_guid": "@{pipeline().parameters.organization_guid}",
										"venue_guid": "@{pipeline().parameters.venue_guid}",
										"olapUpdateTimestamp": "@{pipeline().parameters.olapUpdateTimestamp}",
										"row_id": "@{pipeline().parameters.row_id}"
									},
									"datasetParameters": {
										"SourceExistingContent": {
											"folderPath": "@pipeline().parameters.targetFolderPath",
											"fileName": "@pipeline().parameters.targetFileName"
										},
										"SinkTemp": {
											"folderPath": "@pipeline().parameters.tempFolderPath",
											"fileName": "@pipeline().parameters.tempFileName"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Copy Temp To Final",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Append To Existing File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "VFD_DS_Curated_Mida_Temp_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@pipeline().parameters.tempFolderPath",
										"fileName": "@pipeline().parameters.tempFileName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VFD_DS_Curated_Mida_Bookings_Complete_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@pipeline().parameters.targetFolderPath",
										"fileName": "@pipeline().parameters.targetFileName"
									}
								}
							]
						},
						{
							"name": "Delete Temp File",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy Temp To Final",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Curated_Mida_Temp_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@pipeline().parameters.tempFolderPath",
										"fileName": "@pipeline().parameters.tempFileName"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"guid_pk": {
				"type": "string"
			},
			"reservation_progressiveCode": {
				"type": "string"
			},
			"reservation_code": {
				"type": "string"
			},
			"reservation_status": {
				"type": "int"
			},
			"invoiceRequired": {
				"type": "string"
			},
			"customer": {
				"type": "float"
			},
			"visitDate": {
				"type": "string"
			},
			"reservationPayment_guid": {
				"type": "string"
			},
			"parentPayment_guid": {
				"type": "string"
			},
			"sliced": {
				"type": "string"
			},
			"reservation_guid": {
				"type": "string"
			},
			"group_guid": {
				"type": "string"
			},
			"group_label": {
				"type": "string"
			},
			"group_email": {
				"type": "string"
			},
			"paymentCode": {
				"type": "string"
			},
			"paymentCondition": {
				"type": "float"
			},
			"reservation_amount": {
				"type": "float"
			},
			"reservation_amountTax": {
				"type": "float"
			},
			"status": {
				"type": "int"
			},
			"status_text": {
				"type": "string"
			},
			"stamp": {
				"type": "string"
			},
			"notes": {
				"type": "string"
			},
			"transactionType": {
				"type": "string"
			},
			"transactionType_text": {
				"type": "string"
			},
			"paymentLimitDate": {
				"type": "string"
			},
			"paymentDate": {
				"type": "string"
			},
			"refund": {
				"type": "string"
			},
			"refunded": {
				"type": "string"
			},
			"convention_label": {
				"type": "string"
			},
			"receiptCode": {
				"type": "string"
			},
			"insertTimestamp": {
				"type": "string"
			},
			"updateTimestamp": {
				"type": "string"
			},
			"owner": {
				"type": "string"
			},
			"owner_text": {
				"type": "string"
			},
			"sessionId": {
				"type": "string"
			},
			"terminal_label": {
				"type": "string"
			},
			"terminalGroup_label": {
				"type": "string"
			},
			"gateway_guid": {
				"type": "string"
			},
			"gateway_label": {
				"type": "string"
			},
			"transactionID": {
				"type": "string"
			},
			"bankAccount_guid": {
				"type": "float"
			},
			"bankAccount_label": {
				"type": "float"
			},
			"channel_guid": {
				"type": "string"
			},
			"channel_label": {
				"type": "string"
			},
			"channelType": {
				"type": "string"
			},
			"detail_guid": {
				"type": "string"
			},
			"extra_guid": {
				"type": "float"
			},
			"priceList": {
				"type": "string"
			},
			"event": {
				"type": "string"
			},
			"detailType": {
				"type": "string"
			},
			"detail_text": {
				"type": "string"
			},
			"detail_label": {
				"type": "string"
			},
			"detail_count": {
				"type": "int"
			},
			"paymentDetail_guid": {
				"type": "string"
			},
			"detail_payingPartecipants": {
				"type": "int"
			},
			"detail_quantity": {
				"type": "int"
			},
			"tickets_quantity": {
				"type": "int"
			},
			"pax_quantity": {
				"type": "int"
			},
			"costCenter_guid": {
				"type": "string"
			},
			"costCenter_label": {
				"type": "string"
			},
			"object_receipt": {
				"type": "int"
			},
			"object_taxCode": {
				"type": "string"
			},
			"object_taxNotes": {
				"type": "string"
			},
			"object_amount": {
				"type": "float"
			},
			"object_taxPercentage": {
				"type": "float"
			},
			"amount": {
				"type": "float"
			},
			"amountNet": {
				"type": "float"
			},
			"amountPresale": {
				"type": "float"
			},
			"amountSold": {
				"type": "float"
			},
			"amountPayed": {
				"type": "float"
			},
			"amountPending": {
				"type": "float"
			},
			"amountCanceled": {
				"type": "float"
			},
			"externalId": {
				"type": "string"
			},
			"amountRefunded": {
				"type": "float"
			},
			"invoiceSummary": {
				"type": "string"
			},
			"eventCalendar_guid": {
				"type": "string"
			},
			"passDetail_guid": {
				"type": "string"
			},
			"paymentCostCenter_guid": {
				"type": "string"
			},
			"organization_guid": {
				"type": "string"
			},
			"venue_guid": {
				"type": "string"
			},
			"olapUpdateTimestamp": {
				"type": "string"
			},
			"row_id": {
				"type": "string"
			},
			"targetFolderPath": {
				"type": "string"
			},
			"targetFileName": {
				"type": "string"
			},
			"tempFolderPath": {
				"type": "string"
			},
			"tempFileName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Mida2/Bookings/Atomic"
		},
		"annotations": [
			"Pipeline atomica per inserimento prenotazioni complete",
			"String passate direttamente, numerici con Expression wrapper"
		]
	}
}