pipeline/VFD_PL_Mida_Bookings_Process_Year.json
{
	"name": "VFD_PL_Mida_Bookings_Process_Year",
	"properties": {
		"description": "Pipeline che processa tutti i mesi di un determinato anno",
		"activities": [
			{
				"name": "GetMonths",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Raw_Mida_Bookings_Folder",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@concat('Mida/Bookings/',pipeline().parameters.year)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachMonth",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMonths",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMonths').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ProcessMonth",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "VFD_PL_Mida_Bookings_Process_Month",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"year": {
										"value": "@pipeline().parameters.year",
										"type": "Expression"
									},
									"month": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"year": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Mida/Bookings/Reprocessing"
		},
		"annotations": []
	}
}