pipeline/VFD_PL_Mida_FTP.json
{
	"name": "VFD_PL_Mida_FTP",
	"properties": {
		"description": "Pipeline arricchita: FTP → ADLS solo se nuovo → Data Flow → Copy → Delete",
		"activities": [
			{
				"name": "ListFTPFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Mida_FTPServer_CSV",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FtpReadSettings",
						"enablePartitionDiscovery": false,
						"useBinaryTransfer": true,
						"disableChunking": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFTPFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ListFTPFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListFTPFiles').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SetVariables",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"value": ""
							}
						},
						{
							"name": "CheckIfExistsOnADLS",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "SetVariables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Raw_Mida_Sales_CSV",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@variables('folderPathVar')",
										"fileName": "@variables('fileName')"
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "IfNotExists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CheckIfExistsOnADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(activity('CheckIfExistsOnADLS').output.exists)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute Pipeline Sales",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "VFD_PL_Mida_Sales_Raw_Processed",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"folderPath": {
													"value": "@variables('folderPathVar')",
													"type": "Expression"
												},
												"fileName": {
													"value": "@variables('fileName')",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "Execute_pipeline_Sales",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "VFD_PL_Mida_Sales_Raw_Processed",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"folderPath": {
										"value": "@variables('folderPathVar')",
										"type": "Expression"
									},
									"fileName": {
										"value": "@variables('fileName')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"folderPath": {
				"type": "String",
				"defaultValue": "Mida/Sales/2025/03"
			},
			"fileName": {
				"type": "String",
				"defaultValue": "export_vw_summary_reservationPayments20250313.csv"
			}
		},
		"variables": {
			"fileName": {
				"type": "String"
			},
			"year": {
				"type": "String"
			},
			"month": {
				"type": "String"
			},
			"folderPathVar": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Mida"
		},
		"annotations": []
	}
}