pipeline/VFD_PL_Batch_Historical_Processing.json
{
	"name": "VFD_PL_Batch_Historical_Processing",
	"properties": {
		"description": "Pipeline per processare automaticamente tutti i file storico con Copy Data diretta a production_bookings",
		"activities": [
			{
				"name": "GetHistoricalFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Raw_Mida_Bookings_Folder",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@pipeline().parameters.baseFolderPath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ProcessFilesInOrder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetHistoricalFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetHistoricalFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CheckIfPartFile",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(item().name, '_part')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy Historical File to Production",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ExcelSource",
												"additionalColumns": [
													{
														"name": "processing_timestamp",
														"value": {
															"value": "@utcNow()",
															"type": "Expression"
														}
													},
													{
														"name": "source_file",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "VFD_DS_Raw_Mida_Bookings_Excel",
												"type": "DatasetReference",
												"parameters": {
													"folderPath": {
														"value": "@pipeline().parameters.baseFolderPath",
														"type": "Expression"
													},
													"fileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "VFD_DS_SQL_Test_Bookings",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "LogProcessedFile",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Copy Historical File to Production",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "currentFile",
											"value": {
												"value": "@concat('Processed: ', item().name, ' - Rows copied: ', activity('Copy Historical File to Production').output.rowsCopied, ' at ', utcNow())",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"baseFolderPath": {
				"type": "string",
				"defaultValue": "Mida/Storico/Bookings"
			}
		},
		"variables": {
			"currentFile": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MIDA_SQL/Batch"
		},
		"annotations": [
			"Processamento automatico file storici con Copy Data diretta a production_bookings"
		]
	}
}