pipeline/VFD_PL_List_Raw_CSV_Files.json
{
	"name": "VFD_PL_List_Raw_CSV_Files",
	"properties": {
		"activities": [
			{
				"name": "Until_All_Folders_Processed",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(length(variables('foldersToProcess')), 0)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set_Current_Folder",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "currentFolder",
								"value": {
									"value": "@variables('foldersToProcess')[0]",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Get_Metadata_Current_Folder",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "Set_Current_Folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Generic_Folder",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@variables('currentFolder')"
									}
								},
								"fieldList": [
									"childItems"
								]
							}
						},
						{
							"name": "ForEach_ChildItem",
							"type": "ForEach",
							"dependsOn": [
								{
									"activity": "Get_Metadata_Current_Folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Get_Metadata_Current_Folder').output.childItems",
									"type": "Expression"
								},
								"activities": [
									{
										"name": "If_Folder",
										"type": "IfCondition",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"expression": {
												"value": "@equals(item().type, 'Folder')",
												"type": "Expression"
											},
											"ifFalseActivities": [
												{
													"name": "If_CSV_File",
													"type": "IfCondition",
													"dependsOn": [],
													"userProperties": [],
													"typeProperties": {
														"expression": {
															"value": "@endsWith(item().name, '.csv')",
															"type": "Expression"
														},
														"ifTrueActivities": [
															{
																"name": "AppendCSVToList",
																"type": "AppendVariable",
																"dependsOn": [],
																"userProperties": [],
																"typeProperties": {
																	"variableName": "fileList",
																	"value": {
																		"value": "@concat(variables('currentFolder'), '/', item().name)",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												}
											],
											"ifTrueActivities": [
												{
													"name": "AppendFolderToQueue",
													"type": "AppendVariable",
													"dependsOn": [],
													"userProperties": [],
													"typeProperties": {
														"variableName": "foldersToProcess",
														"value": {
															"value": "@concat(variables('currentFolder'), '/', item().name)",
															"type": "Expression"
														}
													}
												}
											]
										}
									}
								]
							}
						},
						{
							"name": "Prepare_Updated_Folders",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ForEach_ChildItem",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "updatedFolders",
								"value": {
									"value": "@skip(variables('foldersToProcess'),1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Remove_Current_From_Queue",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Prepare_Updated_Folders",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "foldersToProcess",
								"value": {
									"value": "@variables('updatedFolders')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"foldersToProcess": {
				"type": "Array",
				"defaultValue": [
					"raw"
				]
			},
			"fileList": {
				"type": "Array",
				"defaultValue": []
			},
			"currentFolder": {
				"type": "String"
			},
			"updatedFolders": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"annotations": []
	}
}