pipeline/VFD_PL_Mida2_Atomic_LOOKUP_Summary.json
{
	"name": "VFD_PL_Mida2_Atomic_LOOKUP_Summary",
	"properties": {
		"description": "Pipeline atomica per cercare record nel file summary usando row_id",
		"activities": [
			{
				"name": "Lookup Summary Record",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "VFD_DFL_Mida2_Atomic_LOOKUP_Summary",
						"type": "DataFlowReference",
						"parameters": {
							"row_id": {
								"value": "'@{pipeline().parameters.row_id}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"SourceSummaryFile": {
								"folderPath": {
									"value": "@pipeline().parameters.sourceFolderPath",
									"type": "Expression"
								},
								"fileName": {
									"value": "@pipeline().parameters.sourceFileName",
									"type": "Expression"
								}
							},
							"SinkTemp": {
								"folderPath": {
									"value": "@pipeline().parameters.outputFolderPath",
									"type": "Expression"
								},
								"fileName": {
									"value": "@pipeline().parameters.outputFileName",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Check If Record Found",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Lookup Summary Record",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Curated_Mida_Temp_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@pipeline().parameters.outputFolderPath",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.outputFileName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Set Output Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Check If Record Found",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordFound",
					"value": {
						"value": "@if(greater(activity('Check If Record Found').output.size, 0), true, false)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Record Found Copy Fields",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set Output Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('recordFound')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set Summary Fields",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "summaryFields",
								"value": {
									"value": "@concat('Record found for row_id: ', pipeline().parameters.row_id)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"row_id": {
				"type": "string"
			},
			"sourceFolderPath": {
				"type": "string"
			},
			"sourceFileName": {
				"type": "string"
			},
			"outputFolderPath": {
				"type": "string"
			},
			"outputFileName": {
				"type": "string"
			}
		},
		"variables": {
			"recordFound": {
				"type": "Boolean",
				"defaultValue": false
			},
			"summaryFields": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Mida2/Bookings/Atomic"
		},
		"annotations": [
			"Pipeline per lookup in summary",
			"Cerca record per row_id nei file summary",
			"Ritorna solo i campi summary se trovato"
		]
	}
}