pipeline/VFD_PL_SurveyMonkey_Daily_v1.json
{
	"name": "VFD_PL_SurveyMonkey_Daily_v1",
	"properties": {
		"description": "Pipeline per acquisire risposte SurveyMonkey con architettura Raw->Processed->Curated (daily)",
		"activities": [
			{
				"name": "SetProcessDate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "processDate",
					"value": {
						"value": "@if(empty(pipeline().parameters.date), formatDateTime(addDays(utcnow(), -1), 'yyyy-MM-dd'), pipeline().parameters.date)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetYear",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetProcessDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "year",
					"value": {
						"value": "@substring(variables('processDate'), 0, 4)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetMonth",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetYear",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "month",
					"value": {
						"value": "@substring(variables('processDate'), 5, 2)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetDateFormatted",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dateFormatted",
					"value": {
						"value": "@replace(variables('processDate'), '-', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetYearMonth",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetDateFormatted",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "yearMonth",
					"value": {
						"value": "@concat(variables('year'), variables('month'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetSinceISO",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetYearMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sinceISO",
					"value": {
						"value": "@concat(variables('processDate'),'T00:00:00Z')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachSurvey",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SetSinceISO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.surveyList",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "CopySurveyResponsesRaw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							}
						}
					]
				}
			},
			{
				"name": "TransformToProcessed",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEachSurvey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"integrationRuntime": {
						"referenceName": "VFD-IR-DataflowExecution",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Coarse"
				}
			},
			{
				"name": "CopyProcessedToFinal",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "TransformToProcessed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				}
			},
			{
				"name": "DeleteProcessedTemp",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CopyProcessedToFinal",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false
					}
				}
			},
			{
				"name": "CreateCuratedDaily",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "DeleteProcessedTemp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"integrationRuntime": {
						"referenceName": "VFD-IR-DataflowExecution",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Coarse"
				}
			},
			{
				"name": "CopyCuratedDailyToFinal",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CreateCuratedDaily",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				}
			},
			{
				"name": "DeleteCuratedDailyTemp",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CopyCuratedDailyToFinal",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false
					}
				}
			},
			{
				"name": "UpdateMonthlyAggregation",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "DeleteCuratedDailyTemp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"integrationRuntime": {
						"referenceName": "VFD-IR-DataflowExecution",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Coarse"
				}
			},
			{
				"name": "CopyMonthlyToFinal",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "UpdateMonthlyAggregation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				}
			},
			{
				"name": "DeleteMonthlyTemp",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CopyMonthlyToFinal",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false
					}
				}
			}
		],
		"parameters": {
			"date": {
				"type": "string"
			},
			"surveyList": {
				"type": "array"
			}
		},
		"variables": {
			"processDate": {
				"type": "String"
			},
			"sinceISO": {
				"type": "String"
			},
			"year": {
				"type": "String"
			},
			"month": {
				"type": "String"
			},
			"dateFormatted": {
				"type": "String"
			},
			"yearMonth": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SurveyMonkey"
		},
		"annotations": []
	}
}