pipeline/VFD_PL_Mida_Bookings_Raw_Reprocess.json
{
	"name": "VFD_PL_Mida_Bookings_Raw_Reprocess",
	"properties": {
		"description": "Pipeline per rielaborare i file dal container raw che non esistono in processed",
		"activities": [
			{
				"name": "GetAllCSVFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Raw_Mida_Bookings_Folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachCSVFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetAllCSVFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetAllCSVFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetFileName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ExtractDateFromFileName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileDate",
								"value": {
									"value": "@substring(variables('fileName'), add(indexOf(variables('fileName'), 'reservationPayments'), 20), 8)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetYear",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ExtractDateFromFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "year",
								"value": {
									"value": "@substring(variables('fileDate'), 0, 4)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetMonth",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetYear",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "month",
								"value": {
									"value": "@substring(variables('fileDate'), 4, 2)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetDay",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetMonth",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "day",
								"value": {
									"value": "@substring(variables('fileDate'), 6, 2)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetFolderPathVar",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetDay",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "folderPathVar",
								"value": {
									"value": "@concat('Mida/Bookings/', variables('year'), '/', variables('month'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetDateString",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetFolderPathVar",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "dateString",
								"value": {
									"value": "@concat(variables('year'), variables('month'), variables('day'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CheckIfExistsInProcessed",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "SetDateString",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Processed_Mida_Bookings_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": {
											"value": "@variables('folderPathVar')",
											"type": "Expression"
										},
										"fileName": {
											"value": "@replace(variables('fileName'),'.csv','.parquet')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						},
						{
							"name": "ProcessFileIfCondition",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CheckIfExistsInProcessed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(endswith(toLower(variables('fileName')), '.csv'), not(activity('CheckIfExistsInProcessed').output.exists))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Raw to Curated Pipeline",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "VFD_PL_Mida_Bookings_Raw_Curated",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"folderPath": {
													"value": "@variables('folderPathVar')",
													"type": "Expression"
												},
												"fileName": {
													"value": "@variables('fileName')",
													"type": "Expression"
												},
												"year": {
													"value": "@variables('year')",
													"type": "Expression"
												},
												"month": {
													"value": "@variables('month')",
													"type": "Expression"
												},
												"day": {
													"value": "@variables('day')",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"fileName": {
				"type": "String"
			},
			"year": {
				"type": "String"
			},
			"month": {
				"type": "String"
			},
			"folderPathVar": {
				"type": "String"
			},
			"day": {
				"type": "String"
			},
			"dateString": {
				"type": "String"
			},
			"fileDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Mida/Bookings"
		},
		"annotations": []
	}
}