pipeline/VFD_PL_Mida2_Atomic_INSERT_Booking_Summary.json
{
	"name": "VFD_PL_Mida2_Atomic_INSERT_Booking_Summary",
	"properties": {
		"description": "pipeline atomica per inserimento di una prenotazione nel file summary - riceve solo i 9 campi summary",
		"activities": [
			{
				"name": "Check Summary File Exists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Curated_Mida_Bookings_Summary_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": "@pipeline().parameters.targetFolderPath",
							"fileName": "@pipeline().parameters.targetFileName"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "If File Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Summary File Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Check Summary File Exists').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Create New Summary File",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "VFD_DFL_Mida2_Atomic_CREATE_Booking_Summary",
									"type": "DataFlowReference",
									"parameters": {
										"row_id": {
											"value": "@concat('''', pipeline().parameters.row_id, '''')",
											"type": "Expression"
										},
										"reservation_code": {
											"value": "@concat('''', pipeline().parameters.reservation_code, '''')",
											"type": "Expression"
										},
										"priceList": {
											"value": "@concat('''', pipeline().parameters.priceList, '''')",
											"type": "Expression"
										},
										"channel_label": {
											"value": "@concat('''', pipeline().parameters.channel_label, '''')",
											"type": "Expression"
										},
										"pax_quantity": {
											"value": "@pipeline().parameters.pax_quantity",
											"type": "Expression"
										},
										"insertTimestamp": {
											"value": "@concat('''', pipeline().parameters.insertTimestamp, '''')",
											"type": "Expression"
										},
										"updateTimestamp": {
											"value": "@concat('''', pipeline().parameters.updateTimestamp, '''')",
											"type": "Expression"
										},
										"reservation_amount": {
											"value": "@pipeline().parameters.reservation_amount",
											"type": "Expression"
										},
										"visitDate": {
											"value": "@concat('''', pipeline().parameters.visitDate, '''')",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"SinkSummary": {
											"folderPath": "@pipeline().parameters.targetFolderPath",
											"fileName": "@pipeline().parameters.targetFileName"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Append To Existing File",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "VFD_DFL_Mida2_Atomic_APPEND_Booking_Summary",
									"type": "DataFlowReference",
									"parameters": {
										"row_id": {
											"value": "@concat('''', pipeline().parameters.row_id, '''')",
											"type": "Expression"
										},
										"reservation_code": {
											"value": "@concat('''', pipeline().parameters.reservation_code, '''')",
											"type": "Expression"
										},
										"priceList": {
											"value": "@concat('''', pipeline().parameters.priceList, '''')",
											"type": "Expression"
										},
										"channel_label": {
											"value": "@concat('''', pipeline().parameters.channel_label, '''')",
											"type": "Expression"
										},
										"pax_quantity": {
											"value": "@pipeline().parameters.pax_quantity",
											"type": "Expression"
										},
										"insertTimestamp": {
											"value": "@concat('''', pipeline().parameters.insertTimestamp, '''')",
											"type": "Expression"
										},
										"updateTimestamp": {
											"value": "@concat('''', pipeline().parameters.updateTimestamp, '''')",
											"type": "Expression"
										},
										"reservation_amount": {
											"value": "@pipeline().parameters.reservation_amount",
											"type": "Expression"
										},
										"visitDate": {
											"value": "@concat('''', pipeline().parameters.visitDate, '''')",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"SourceExistingContent": {
											"folderPath": "@pipeline().parameters.targetFolderPath",
											"fileName": "@pipeline().parameters.targetFileName"
										},
										"SinkTemp": {
											"folderPath": "@pipeline().parameters.tempFolderPath",
											"fileName": "@pipeline().parameters.tempFileName"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Copy Temp To Final",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Append To Existing File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "VFD_DS_Curated_Mida_Temp_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@pipeline().parameters.tempFolderPath",
										"fileName": "@pipeline().parameters.tempFileName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VFD_DS_Curated_Mida_Bookings_Summary_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@pipeline().parameters.targetFolderPath",
										"fileName": "@pipeline().parameters.targetFileName"
									}
								}
							]
						},
						{
							"name": "Delete Temp File",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy Temp To Final",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Curated_Mida_Temp_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@pipeline().parameters.tempFolderPath",
										"fileName": "@pipeline().parameters.tempFileName"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"row_id": {
				"type": "string"
			},
			"reservation_code": {
				"type": "string"
			},
			"priceList": {
				"type": "string"
			},
			"channel_label": {
				"type": "string"
			},
			"pax_quantity": {
				"type": "int"
			},
			"insertTimestamp": {
				"type": "string"
			},
			"updateTimestamp": {
				"type": "string"
			},
			"reservation_amount": {
				"type": "float"
			},
			"visitDate": {
				"type": "string"
			},
			"targetFolderPath": {
				"type": "string"
			},
			"targetFileName": {
				"type": "string"
			},
			"tempFolderPath": {
				"type": "string"
			},
			"tempFileName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Mida2/Bookings/Atomic"
		},
		"annotations": [
			"pipeline atomica per inserimento prenotazioni summary",
			"Riceve solo i 9 campi del summary",
			"Sintassi corretta uniforme per CREATE e APPEND"
		]
	}
}