pipeline/VFD_PL_Mida2_Test_All_Atomic_Operations.json
{
	"name": "VFD_PL_Mida2_Test_All_Atomic_Operations",
	"properties": {
		"description": "Pipeline di test completa per tutte le operazioni atomiche MIDA2",
		"activities": [
			{
				"name": "Set Test Parameters",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "testReservationCode",
					"value": {
						"value": "RVFD2XNDRPZ3XPQX",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Test Date Paths",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Test Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "testDatePath",
					"value": {
						"value": "@formatDateTime(utcnow(), 'yyyy/MM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Test File Names",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Test Date Paths",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "testFileDate",
					"value": {
						"value": "@formatDateTime(utcnow(), 'yyyyMMdd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Test 1 - INSERT Complete Booking",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Test File Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_Mida2_Atomic_INSERT_Booking_Complete",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"reservationCode": {
							"value": "@variables('testReservationCode')",
							"type": "Expression"
						},
						"processedFolderPath": "Mida/Bookings/2025/07",
						"processedFileName": "export_vw_summary_reservationPayments2025072604.parquet",
						"targetFolderPath": {
							"value": "@concat('Mida/Bookings/Complete/Test/', variables('testDatePath'))",
							"type": "Expression"
						},
						"targetFileName": {
							"value": "@concat('VFD_Mida_Test_Complete_', variables('testFileDate'), '.parquet')",
							"type": "Expression"
						},
						"tempFolderPath": "Mida/Bookings/Temp",
						"tempFileName": "temp_test_insert_complete.parquet"
					}
				}
			},
			{
				"name": "Test 2 - INSERT Summary Booking",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Test 1 - INSERT Complete Booking",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_Mida2_Atomic_INSERT_Booking_Summary",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"reservationCode": {
							"value": "@variables('testReservationCode')",
							"type": "Expression"
						},
						"processedFolderPath": "Mida/Bookings/2025/07",
						"processedFileName": "export_vw_summary_reservationPayments2025072604.parquet",
						"targetFolderPath": {
							"value": "@concat('Mida/Bookings/VisitDateSummary/Test/', variables('testDatePath'))",
							"type": "Expression"
						},
						"targetFileName": {
							"value": "@concat('VFD_Mida_Test_Summary_', variables('testFileDate'), '.parquet')",
							"type": "Expression"
						},
						"tempFolderPath": "Mida/Bookings/Temp",
						"tempFileName": "temp_test_insert_summary.parquet"
					}
				}
			},
			{
				"name": "Test 3 - APPEND Historical",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Test 2 - INSERT Summary Booking",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_Mida2_Atomic_APPEND_Historical",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"reservationCode": {
							"value": "@variables('testReservationCode')",
							"type": "Expression"
						},
						"operationType": "INSERT",
						"processedFolderPath": {
							"value": "Mida/Bookings/2025/07",
							"type": "Expression"
						},
						"processedFileName": {
							"value": "export_vw_summary_reservationPayments2025072604.parquet",
							"type": "Expression"
						},
						"targetFolderPath": {
							"value": "@concat('Mida/Bookings/Historical/Test/', variables('testDatePath'))",
							"type": "Expression"
						},
						"targetFileName": {
							"value": "@concat('VFD_Mida_Test_Historical_', variables('testFileDate'), '.parquet')",
							"type": "Expression"
						},
						"tempFolderPath": "Mida/Bookings/Temp",
						"tempFileName": "temp_test_historical.parquet"
					}
				}
			},
			{
				"name": "Test 4 - LOOKUP Historical",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Test 3 - APPEND Historical",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_Mida2_Atomic_LOOKUP_Historical",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"reservationCodeToLookup": {
							"value": "@variables('testReservationCode')",
							"type": "Expression"
						},
						"historicalFolderPath": {
							"value": "@concat('Mida/Bookings/Historical/Test/', variables('testDatePath'))",
							"type": "Expression"
						},
						"historicalFileName": {
							"value": "@concat('VFD_Mida_Test_Historical_', variables('testFileDate'), '.parquet')",
							"type": "Expression"
						},
						"tempFolderPath": "Mida/Bookings/Temp",
						"tempFileName": "temp_test_lookup_historical.parquet"
					}
				}
			},
			{
				"name": "Test 5 - LOOKUP Summary",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Test 4 - LOOKUP Historical",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_Mida2_Atomic_LOOKUP_Summary",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"reservationCodeToLookup": {
							"value": "@variables('testReservationCode')",
							"type": "Expression"
						},
						"summaryFolderPath": {
							"value": "@concat('Mida/Bookings/VisitDateSummary/Test/', variables('testDatePath'))",
							"type": "Expression"
						},
						"summaryFileName": {
							"value": "@concat('VFD_Mida_Test_Summary_', variables('testFileDate'), '.parquet')",
							"type": "Expression"
						},
						"tempFolderPath": "Mida/Bookings/Temp",
						"tempFileName": "temp_test_lookup_summary.parquet"
					}
				}
			},
			{
				"name": "Test 6 - UPDATE Complete Booking",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Test 5 - LOOKUP Summary",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_Mida2_Atomic_UPDATE_Booking_Complete",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"reservationCode": {
							"value": "@variables('testReservationCode')",
							"type": "Expression"
						},
						"processedFolderPath": "Mida/Bookings/2025/07",
						"processedFileName": "export_vw_summary_reservationPayments2025072604.parquet",
						"targetFolderPath": {
							"value": "@concat('Mida/Bookings/Complete/Test/', variables('testDatePath'))",
							"type": "Expression"
						},
						"targetFileName": {
							"value": "@concat('booking_complete','.parquet')",
							"type": "Expression"
						},
						"tempFolderPath": "Mida/Bookings/Temp",
						"tempFileName": "temp_test_update_complete.parquet"
					}
				}
			},
			{
				"name": "Test 7 - UPDATE Summary Booking",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Test 6 - UPDATE Complete Booking",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_Mida2_Atomic_UPDATE_Booking_Summary",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"reservationCode": {
							"value": "@variables('testReservationCode')",
							"type": "Expression"
						},
						"processedFolderPath": "Mida/Bookings/2025/07",
						"processedFileName": "export_vw_summary_reservationPayments2025072604.parquet",
						"targetFolderPath": {
							"value": "@concat('Mida/Bookings/VisitDateSummary/Test/', variables('testDatePath'))",
							"type": "Expression"
						},
						"targetFileName": {
							"value": "@concat('VFD_Mida_Test_Summary_', variables('testFileDate'), '.parquet')",
							"type": "Expression"
						},
						"tempFolderPath": "Mida/Bookings/Temp",
						"tempFileName": "temp_test_update_summary.parquet"
					}
				}
			},
			{
				"name": "Test 8 - APPEND Historical Update",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Test 7 - UPDATE Summary Booking",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_Mida2_Atomic_APPEND_Historical",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"reservationCode": {
							"value": "@variables('testReservationCode')",
							"type": "Expression"
						},
						"operationType": "UPDATE",
						"processedFolderPath": {
							"value": "@concat('Mida/Bookings/Processed/Test/', variables('testDatePath'))",
							"type": "Expression"
						},
						"processedFileName": {
							"value": "@concat('VFD_Mida_Test_Processed_Updated_', variables('testFileDate'), '.parquet')",
							"type": "Expression"
						},
						"targetFolderPath": {
							"value": "@concat('Mida/Bookings/Historical/Test/', variables('testDatePath'))",
							"type": "Expression"
						},
						"targetFileName": {
							"value": "@concat('VFD_Mida_Test_Historical_', variables('testFileDate'), '.parquet')",
							"type": "Expression"
						},
						"tempFolderPath": "Mida/Bookings/Temp",
						"tempFileName": "temp_test_historical_update.parquet"
					}
				}
			},
			{
				"name": "Test 9 - Second INSERT Complete Append Test",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Test 8 - APPEND Historical Update",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_Mida2_Atomic_INSERT_Booking_Complete",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"reservationCode": {
							"value": "@concat(variables('testReservationCode'), '_SECOND')",
							"type": "Expression"
						},
						"processedFolderPath": "Mida/Bookings/2025/07",
						"processedFileName": "export_vw_summary_reservationPayments2025072604.parquet",
						"targetFolderPath": {
							"value": "@concat('Mida/Bookings/Complete/Test/', variables('testDatePath'))",
							"type": "Expression"
						},
						"targetFileName": {
							"value": "@concat('VFD_Mida_Test_Complete_', variables('testFileDate'), '.parquet')",
							"type": "Expression"
						},
						"tempFolderPath": "Mida/Bookings/Temp",
						"tempFileName": "temp_test_second_insert.parquet"
					}
				}
			},
			{
				"name": "Test 10 - Second INSERT Summary Append Test",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Test 9 - Second INSERT Complete Append Test",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_Mida2_Atomic_INSERT_Booking_Summary",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"reservationCode": {
							"value": "@concat(variables('testReservationCode'), '_SECOND')",
							"type": "Expression"
						},
						"processedFolderPath": "Mida/Bookings/2025/07",
						"processedFileName": "export_vw_summary_reservationPayments2025072604.parquet",
						"targetFolderPath": {
							"value": "@concat('Mida/Bookings/VisitDateSummary/Test/', variables('testDatePath'))",
							"type": "Expression"
						},
						"targetFileName": {
							"value": "@concat('VFD_Mida_Test_Summary_', variables('testFileDate'), '.parquet')",
							"type": "Expression"
						},
						"tempFolderPath": "Mida/Bookings/Temp",
						"tempFileName": "temp_test_second_summary.parquet"
					}
				}
			},
			{
				"name": "Test 11 - DELETE Summary Record",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Test 10 - Second INSERT Summary Append Test",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_Mida2_Atomic_DELETE_Booking_Summary",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"reservationCode": {
							"value": "@variables('testReservationCode')",
							"type": "Expression"
						},
						"targetFolderPath": {
							"value": "@concat('Mida/Bookings/VisitDateSummary/Test/', variables('testDatePath'))",
							"type": "Expression"
						},
						"targetFileName": {
							"value": "@concat('VFD_Mida_Test_Summary_', variables('testFileDate'), '.parquet')",
							"type": "Expression"
						},
						"tempFolderPath": "Mida/Bookings/Temp",
						"tempFileName": "temp_test_delete_summary.parquet"
					}
				}
			},
			{
				"name": "Test 12 - DELETE Complete Record",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Test 11 - DELETE Summary Record",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_Mida2_Atomic_DELETE_Booking_Complete",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"reservationCode": {
							"value": "@variables('testReservationCode')",
							"type": "Expression"
						},
						"targetFolderPath": {
							"value": "@concat('Mida/Bookings/Complete/Test/', variables('testDatePath'))",
							"type": "Expression"
						},
						"targetFileName": {
							"value": "@concat('VFD_Mida_Test_Complete_', variables('testFileDate'), '.parquet')",
							"type": "Expression"
						},
						"tempFolderPath": "Mida/Bookings/Temp",
						"tempFileName": "temp_test_delete_complete.parquet"
					}
				}
			},
			{
				"name": "Test 13 - APPEND Historical Delete",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Test 12 - DELETE Complete Record",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_Mida2_Atomic_APPEND_Historical",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"reservationCode": {
							"value": "@variables('testReservationCode')",
							"type": "Expression"
						},
						"operationType": "DELETE",
						"processedFolderPath": "Mida/Bookings/2025/07",
						"processedFileName": "export_vw_summary_reservationPayments20250726004.parquet",
						"targetFolderPath": {
							"value": "@concat('Mida/Bookings/Historical/Test/', variables('testDatePath'))",
							"type": "Expression"
						},
						"targetFileName": {
							"value": "@concat('VFD_Mida_Test_Historical_', variables('testFileDate'), '.parquet')",
							"type": "Expression"
						},
						"tempFolderPath": "Mida/Bookings/Temp",
						"tempFileName": "temp_test_historical_delete.parquet"
					}
				}
			},
			{
				"name": "Test 14 - Error Test UPDATE Non-Existing",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Test 13 - APPEND Historical Delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_Mida2_Atomic_UPDATE_Booking_Complete",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"reservationCode": "NON_EXISTING_RECORD",
						"processedFolderPath": "Mida/Bookings/Processed/Test/NonExisting",
						"processedFileName": "VFD_Mida_NonExisting_Processed.parquet",
						"targetFolderPath": "Mida/Bookings/Complete/Test/NonExisting",
						"targetFileName": "VFD_Mida_NonExisting.parquet",
						"tempFolderPath": "Mida/Bookings/Temp",
						"tempFileName": "temp_test_error.parquet"
					}
				}
			},
			{
				"name": "Final Test Summary Success",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Test 14 - Error Test UPDATE Non-Existing",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "testResults",
					"value": {
						"value": "@concat('✅ ALL ATOMIC OPERATIONS TESTED SUCCESSFULLY! ', char(10), 'Test Reservation Code: ', variables('testReservationCode'), char(10), 'Test Date Path: ', variables('testDatePath'), char(10), 'Operations completed: INSERT, UPDATE, DELETE, LOOKUP for Complete, Summary and Historical files', char(10), 'Error handling verified: UPDATE on non-existing file failed as expected', char(10), 'Test execution completed at: ', utcnow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Cleanup Test Files",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Final Test Summary Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.enableCleanup",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Log Cleanup Skipped",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "cleanupResults",
								"value": "ℹ️ Test files cleanup skipped (enableCleanup = false)"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Delete Test Complete File",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Curated_Mida_Bookings_Complete_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@concat('Mida/Bookings/Complete/Test/', variables('testDatePath'))",
										"fileName": "@concat('VFD_Mida_Test_Complete_', variables('testFileDate'), '.parquet')"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Delete Test Summary File",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Delete Test Complete File",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Curated_Mida_Bookings_Summary_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@concat('Mida/Bookings/VisitDateSummary/Test/', variables('testDatePath'))",
										"fileName": "@concat('VFD_Mida_Test_Summary_', variables('testFileDate'), '.parquet')"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Delete Test Historical File",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Delete Test Summary File",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Curated_Mida_Historical_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@concat('Mida/Bookings/Historical/Test/', variables('testDatePath'))",
										"fileName": "@concat('VFD_Mida_Test_Historical_', variables('testFileDate'), '.parquet')"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Log Cleanup Completed",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Delete Test Historical File",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "cleanupResults",
								"value": "🧹 Test files cleanup completed successfully"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"enableCleanup": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"testReservationCode": {
				"type": "String"
			},
			"testDatePath": {
				"type": "String"
			},
			"testFileDate": {
				"type": "String"
			},
			"testResults": {
				"type": "String"
			},
			"cleanupResults": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Mida2/Test"
		},
		"annotations": [
			"🧪 Pipeline di test completa per tutte le operazioni atomiche MIDA2",
			"✅ Testa CREATE, INSERT, UPDATE, DELETE, LOOKUP e gestione errori",
			"📅 Usa codice prenotazione dinamico basato su timestamp per test univoci",
			"📂 Genera percorsi di test dinamici basati sulla data corrente",
			"🔄 Testa sia creazione che append automatico",
			"⚠️ Verifica il corretto funzionamento dell'error handling",
			"🧹 Include funzionalità di cleanup opzionale dei file di test",
			"🎯 Test comprensivo di tutte le 12 operazioni atomiche implementate"
		]
	}
}