pipeline/VFD_PL_SurveyMonkey_Gradimento_File.json
{
	"name": "VFD_PL_SurveyMonkey_Gradimento_File",
	"properties": {
		"activities": [
			{
				"name": "ScanRawFiles",
				"description": "Ottiene l'elenco di tutti i file Excel nelle sottocartelle",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Raw_SurveyMonkey_Gradimento_Excel",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "ForEachRawFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ScanRawFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ScanRawFiles').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SetYear",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "year",
								"value": {
									"value": "@split(item().name, '/')[0]",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetFileName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetYear",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileName",
								"value": {
									"value": "@last(split(item().name, '/'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CheckIfProcessedExists",
							"description": "Verifica se il file Parquet esiste già in processed",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "SetFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Processed_SurveyMonkey_Gradimento_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"year": {
											"value": "@variables('year')",
											"type": "Expression"
										},
										"fileName": {
											"value": "@replace(variables('fileName'), '.xlsx', '')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "IfProcessedNotExists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CheckIfProcessedExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(activity('CheckIfProcessedExists').output.exists)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CopyRawToProcessed",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ExcelSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": false
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "VFD_DS_Raw_SurveyMonkey_Gradimento_Excel",
												"type": "DatasetReference",
												"parameters": {
													"year": {
														"value": "@variables('year')",
														"type": "Expression"
													},
													"fileName": {
														"value": "@variables('fileName')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "VFD_DS_Processed_SurveyMonkey_Gradimento_Parquet",
												"type": "DatasetReference",
												"parameters": {
													"year": {
														"value": "@variables('year')",
														"type": "Expression"
													},
													"fileName": {
														"value": "@replace(variables('fileName'), '.xlsx', '')",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"year": {
				"type": "String"
			},
			"fileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SurveyMonkey"
		},
		"annotations": []
	}
}