pipeline/VFD_PL_Mida_Seals_FTP.json
{
	"name": "VFD_PL_Mida_Seals_FTP",
	"properties": {
		"description": "Pipeline per acquisire i dati di emissioni biglietti (Seals) da FTP a Data Lake",
		"activities": [
			{
				"name": "ListFTPFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Mida_Seals_FTPServer_Folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FtpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false,
						"useBinaryTransfer": true,
						"disableChunking": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFTPFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ListFTPFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListFTPFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetFileName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetYear",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "year",
								"value": {
									"value": "@substring(item().name, 25, 4)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetMonth",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetYear",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "month",
								"value": {
									"value": "@substring(item().name, 29, 2)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetDay",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetMonth",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "day",
								"value": {
									"value": "@substring(item().name, 31, 2)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetFolderPathVar",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetDay",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "folderPathVar",
								"value": {
									"value": "@concat('Mida/Seals/', variables('year'), '/', variables('month'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CheckIfExistsOnADLS",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "SetFolderPathVar",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Raw_Mida_Seals_Excel",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": {
											"value": "@variables('folderPathVar')",
											"type": "Expression"
										},
										"fileName": {
											"value": "@variables('fileName')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "IfNotExists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CheckIfExistsOnADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(activity('CheckIfExistsOnADLS').output.exists)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CopyFromFTP",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "FtpReadSettings",
													"recursive": true,
													"useBinaryTransfer": true,
													"disableChunking": false
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "VFD_DS_Mida_Seals_FTPServer_Binary",
												"type": "DatasetReference",
												"parameters": {
													"fileName": {
														"value": "@variables('fileName')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "VFD_DS_Raw_Mida_Seals_Binary",
												"type": "DatasetReference",
												"parameters": {
													"folderPath": {
														"value": "@variables('folderPathVar')",
														"type": "Expression"
													},
													"fileName": "@variables('fileName')"
												}
											}
										]
									},
									{
										"name": "Raw to Curated Pipeline",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "CopyFromFTP",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "VFD_PL_Mida_Seals_Raw_Curated",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"folderPath": {
													"value": "@variables('folderPathVar')",
													"type": "Expression"
												},
												"fileName": {
													"value": "@variables('fileName')",
													"type": "Expression"
												},
												"year": {
													"value": "@variables('year')",
													"type": "Expression"
												},
												"month": {
													"value": "@variables('month')",
													"type": "Expression"
												},
												"day": {
													"value": "@variables('day')",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"fileName": {
				"type": "String"
			},
			"year": {
				"type": "String"
			},
			"month": {
				"type": "String"
			},
			"folderPathVar": {
				"type": "String"
			},
			"day": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Mida/Seals"
		},
		"annotations": []
	}
}