pipeline/VFD_PL_Mida2_Atomic_INSERT_Booking_Complete.json
{
	"name": "VFD_PL_Mida2_Atomic_INSERT_Booking_Complete",
	"properties": {
		"description": "Pipeline atomica per inserimento di una prenotazione nel file completo",
		"activities": [
			{
				"name": "Check Complete File Exists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Curated_Mida_Bookings_Complete_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": "@pipeline().parameters.targetFolderPath",
							"fileName": "@pipeline().parameters.targetFileName"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "If File Exists Then Append Else Create",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Complete File Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Check Complete File Exists').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Create New Complete File",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "VFD_DFL_Mida2_Atomic_CREATE_Booking_Complete",
									"type": "DataFlowReference",
									"parameters": {
										"reservationCode": {
											"value": "'@{pipeline().parameters.reservationCode}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Append To Existing File",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "VFD_DFL_Mida2_Atomic_APPEND_Booking_Complete",
									"type": "DataFlowReference",
									"parameters": {
										"reservationCode": {
											"value": "'@{pipeline().parameters.reservationCode}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"SourceExistingContent": {
											"folderPath": "Mida2/Bookings/Complete/2025/01",
											"fileName": "VFD_Mida_Bookings_20250101.parquet"
										},
										"SinkTemp": {
											"folderPath": "Mida2/Bookings/Temp",
											"fileName": "temp_operation.parquet"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Copy Temp To Final Complete",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Append To Existing File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "VFD_DS_Curated_Mida_Temp_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@pipeline().parameters.tempFolderPath",
										"fileName": "@pipeline().parameters.tempFileName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VFD_DS_Curated_Mida_Bookings_Complete_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@pipeline().parameters.targetFolderPath",
										"fileName": "@pipeline().parameters.targetFileName"
									}
								}
							]
						},
						{
							"name": "Delete Temp File Complete",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy Temp To Final Complete",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Curated_Mida_Temp_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@pipeline().parameters.tempFolderPath",
										"fileName": "@pipeline().parameters.tempFileName"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"reservationCode": {
				"type": "String",
				"defaultValue": "RVFDTEST001"
			},
			"processedFolderPath": {
				"type": "String",
				"defaultValue": "Mida/Bookings/Processed/2025/01"
			},
			"processedFileName": {
				"type": "String",
				"defaultValue": "VFD_Mida_Processed_20250101.parquet"
			},
			"targetFolderPath": {
				"type": "String",
				"defaultValue": "Mida/Bookings/Complete/2025/01"
			},
			"targetFileName": {
				"type": "String",
				"defaultValue": "VFD_Mida_Bookings_20250101.parquet"
			},
			"tempFolderPath": {
				"type": "String",
				"defaultValue": "Mida/Bookings/Temp"
			},
			"tempFileName": {
				"type": "String",
				"defaultValue": "temp_append_complete.parquet"
			}
		},
		"folder": {
			"name": "Mida2/Bookings/Atomic"
		},
		"annotations": [
			"Pipeline atomica per inserimento prenotazioni complete",
			"Gestisce sia creazione che append automaticamente"
		]
	}
}