pipeline/VFD_PL_Mida_Bookings_Process_Month.json
{
	"name": "VFD_PL_Mida_Bookings_Process_Month",
	"properties": {
		"description": "Pipeline che processa tutti i file in un determinato mese",
		"activities": [
			{
				"name": "GetFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Raw_Mida_Bookings_Folder",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@concat('Mida/Bookings/', pipeline().parameters.year, '/', pipeline().parameters.month)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetFileName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetDay",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "day",
								"value": {
									"value": "@substring(variables('fileName'), 43, 2)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetProcessedFileName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetDay",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "processedFileName",
								"value": {
									"value": "@replace(variables('fileName'), '.csv', '.parquet')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CheckIfProcessedExists",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "SetProcessedFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Processed_Mida_Bookings_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": {
											"value": "@concat('Mida/Bookings/', pipeline().parameters.year, '/', pipeline().parameters.month)",
											"type": "Expression"
										},
										"fileName": {
											"value": "@variables('processedFileName')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						},
						{
							"name": "IfNotProcessed",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CheckIfProcessedExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(activity('CheckIfProcessedExists').output.exists)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Process File",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"waitOnCompletion": true,
											"parameters": {
												"folderPath": {
													"value": "@concat('Mida/Bookings/', pipeline().parameters.year, '/', pipeline().parameters.month)",
													"type": "Expression"
												},
												"fileName": {
													"value": "@variables('fileName')",
													"type": "Expression"
												},
												"year": {
													"value": "@pipeline().parameters.year",
													"type": "Expression"
												},
												"month": {
													"value": "@pipeline().parameters.month",
													"type": "Expression"
												},
												"day": {
													"value": "@variables('day')",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"year": {
				"type": "string"
			},
			"month": {
				"type": "string"
			}
		},
		"variables": {
			"fileName": {
				"type": "String"
			},
			"day": {
				"type": "String"
			},
			"processedFileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Mida/Bookings/Reprocessing"
		},
		"annotations": []
	}
}