pipeline/VFD_PL_Mida2_Atomic_DELETE_Booking_Complete.json
{
	"name": "VFD_PL_Mida2_Atomic_DELETE_Booking_Complete",
	"properties": {
		"description": "Pipeline atomica per rimozione di una prenotazione dal file completo",
		"activities": [
			{
				"name": "Check Complete File Exists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Curated_Mida_Bookings_Complete_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": "@pipeline().parameters.targetFolderPath",
							"fileName": "@pipeline().parameters.targetFileName"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "If File Exists Then Delete Record",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Complete File Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Check Complete File Exists').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Log - Complete File Not Found",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "warningMessage",
								"value": "DELETE_COMPLETE_FILE_NOT_FOUND: Cannot delete from non-existing file"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Delete Record From File",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "VFD_DFL_Mida2_Atomic_DELETE_Booking_Complete",
									"type": "DataFlowReference",
									"parameters": {
										"reservationCode": {
											"value": "'@{pipeline().parameters.reservationCode}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"SourceExistingContent": {
											"folderPath": "Mida2/Bookings/Complete/2025/01",
											"fileName": "VFD_Mida_Bookings_20250101.parquet"
										},
										"SinkTemp": {
											"folderPath": "Mida2/Bookings/Temp",
											"fileName": "temp_operation.parquet"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Check Temp File Size",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "Delete Record From File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Curated_Mida_Temp_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@pipeline().parameters.tempFolderPath",
										"fileName": "@pipeline().parameters.tempFileName"
									}
								},
								"fieldList": [
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						},
						{
							"name": "If Temp File Not Empty Replace Else Delete",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Check Temp File Size",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Check Temp File Size').output.size, 1000)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Delete Empty Complete File",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "VFD_DS_Curated_Mida_Bookings_Complete_Parquet",
												"type": "DatasetReference",
												"parameters": {
													"folderPath": "@pipeline().parameters.targetFolderPath",
													"fileName": "@pipeline().parameters.targetFileName"
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Replace Complete File",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": false,
													"enablePartitionDiscovery": false
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "VFD_DS_Curated_Mida_Temp_Parquet",
												"type": "DatasetReference",
												"parameters": {
													"folderPath": "@pipeline().parameters.tempFolderPath",
													"fileName": "@pipeline().parameters.tempFileName"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "VFD_DS_Curated_Mida_Bookings_Complete_Parquet",
												"type": "DatasetReference",
												"parameters": {
													"folderPath": "@pipeline().parameters.targetFolderPath",
													"fileName": "@pipeline().parameters.targetFileName"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "Delete Delete Temp File",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "If Temp File Not Empty Replace Else Delete",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Curated_Mida_Temp_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@pipeline().parameters.tempFolderPath",
										"fileName": "@pipeline().parameters.tempFileName"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"reservationCode": {
				"type": "String",
				"defaultValue": "RVFDTEST001"
			},
			"targetFolderPath": {
				"type": "String",
				"defaultValue": "Mida/Bookings/Complete/2025/01"
			},
			"targetFileName": {
				"type": "String",
				"defaultValue": "VFD_Mida_Bookings_20250101.parquet"
			},
			"tempFolderPath": {
				"type": "String",
				"defaultValue": "Mida/Bookings/Temp"
			},
			"tempFileName": {
				"type": "String",
				"defaultValue": "temp_delete_complete.parquet"
			}
		},
		"variables": {
			"warningMessage": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Mida2/Bookings/Atomic"
		},
		"annotations": [
			"Pipeline atomica per rimozione prenotazioni complete",
			"Elimina il file se diventa vuoto dopo la rimozione"
		]
	}
}