pipeline/VFD_PL_DuomoWiFi_Daily.json
{
	"name": "VFD_PL_DuomoWiFi_Daily",
	"properties": {
		"description": "Pipeline wrapper per esecuzione giornaliera automatica - usa SEMPRE la data di ieri",
		"activities": [
			{
				"name": "Set_Yesterday_Date",
				"description": "Imposta la data di ieri per entrambi i parametri",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "yesterday_date",
					"value": {
						"value": "@formatDateTime(addDays(utcNow(), -1), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute_WiFi_Extract_Transform",
				"description": "Esegue la pipeline principale con la data di ieri",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set_Yesterday_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VFD_PL_DuomoWiFi_Extract_Transform",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_dateStart": {
							"value": "@variables('yesterday_date')",
							"type": "Expression"
						},
						"p_dateStop": {
							"value": "@variables('yesterday_date')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"yesterday_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "WiFi"
		},
		"annotations": [
			"Daily Execution",
			"Wrapper Pipeline",
			"No Parameters"
		]
	}
}