pipeline/VFD_PL_DuomoWiFi_Reprocessing.json
{
	"name": "VFD_PL_DuomoWiFi_Reprocessing",
	"properties": {
		"activities": [
			{
				"name": "SetFirstDate",
				"description": "Imposta per la prima volta la currentDate in base a startDate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentDate",
					"value": {
						"value": "@formatDateTime(pipeline().parameters.startDate, 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RepeatUntilEndDate",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "SetFirstDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('currentDate'),pipeline().parameters.endDate)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ProcessCurrentDate",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "VFD_PL_DuomoWiFi_Extract_Transform",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_dateStart": {
										"value": "@variables('currentDate')",
										"type": "Expression"
									},
									"p_dateStop": {
										"value": "@variables('currentDate')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "CalculateNextDate",
							"description": "Usa una variabile temp per calcolare il valore di currentDate + 1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ProcessCurrentDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "nextDate",
								"value": {
									"value": "@formatDateTime(addDays(variables('currentDate'), 1), 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetCurrentDate",
							"description": "Imposta il valore di currentDate con nextDate",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CalculateNextDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "currentDate",
								"value": {
									"value": "@variables('nextDate')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "WaitForCooldown",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "SetCurrentDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					],
					"timeout": "07.00:00:00"
				}
			}
		],
		"parameters": {
			"startDate": {
				"type": "string"
			},
			"endDate": {
				"type": "string"
			}
		},
		"variables": {
			"currentDate": {
				"type": "String"
			},
			"nextDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "WiFi"
		},
		"annotations": []
	}
}