pipeline/VFD_PL_SurveyMonkey_RawToProcessed_Gradimento.json
{
	"name": "VFD_PL_SurveyMonkey_RawToProcessed_Gradimento",
	"properties": {
		"activities": [
			{
				"name": "GM_ListYears_Raw",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Raw_SurveyMonkey_Gradimento_Excel",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "Set_vAllFiles_Init",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GM_ListYears_Raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vAllFiles",
					"value": {
						"value": "@array([])",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FE_Years",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set_vAllFiles_Init",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@select(activity('GM_ListYears_Raw').output.childItems, item().name)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GM_ListFiles_Raw_Year",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Raw_SurveyMonkey_Gradimento_Excel",
									"type": "DatasetReference",
									"parameters": {
										"pYear": "@{item()}"
									}
								},
								"fieldList": [
									"childItems"
								]
							}
						},
						{
							"name": "AppendFilesToGlobal",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "GM_ListFiles_Raw_Year",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vAllFiles",
								"value": {
									"value": "@array(select(activity('GM_ListFiles_Raw_Year').output.childItems, concat(item().name, '|', string(item('FE_Years').iterationValue))))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "FE_AllFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FE_Years",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('vAllFiles')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GM_Exists_Processed",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Processed_SurveyMonkey_Gradimento_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"pYear": "@{split(item(), '|')[1]}",
										"pFileName": "@{replace(split(item(), '|')[0], '.xlsx', '.parquet')}"
									}
								},
								"fieldList": [
									"exists"
								]
							}
						},
						{
							"name": "IF_NotExists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GM_Exists_Processed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('GM_Exists_Processed').output.exists, false)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy_RawToProcessed",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ExcelSource",
												"sheetName": "sheet",
												"firstRowAsHeader": true
											},
											"sink": {
												"type": "ParquetSink"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "VFD_DS_Raw_SurveyMonkey_Gradimento_Excel",
												"type": "DatasetReference",
												"parameters": {
													"pYear": "@{split(item(), '|')[1]}",
													"pFileName": "@{split(item(), '|')[0]}"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "VFD_DS_Processed_SurveyMonkey_Gradimento_Parquet",
												"type": "DatasetReference",
												"parameters": {
													"pYear": "@{split(item(), '|')[1]}",
													"pFileName": "@{replace(split(item(), '|')[0], '.xlsx', '.parquet')}"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"vAllFiles": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}