pipeline/VFD_PL_List_Raw_CSV_Files.json
{
	"name": "VFD_PL_List_Raw_CSV_Files",
	"properties": {
		"description": "Pipeline per elencare tutti i file CSV in modo ricorsivo e salvare l'elenco in un file di testo",
		"activities": [
			{
				"name": "GetAllCSVFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Raw_Mida_Bookings_Folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "CreateEmptyFile",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetAllCSVFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						},
						"data": ""
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "VFD_DS_Binary_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "VFD_DS_FileList",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ForEachCSVFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CreateEmptyFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetAllCSVFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "AppendToFile",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileLines",
								"value": {
									"value": "@concat(item().path, '/', item().name, '\n')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "WriteFileContent",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEachCSVFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						},
						"data": {
							"value": "@variables('fileLines')",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "VFD_DS_Binary_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "VFD_DS_FileList",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"fileLines": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Mida/Utils"
		},
		"annotations": []
	}
}