pipeline/VFD_PL_MIDA_SQL_Master_Validations.json
{
	"name": "VFD_PL_MIDA_SQL_Master_Validations",
	"properties": {
		"description": "Pipeline madre: scansiona FTP folder Validations, scarica file mancanti, chiama pipeline figlia",
		"activities": [
			{
				"name": "ScanValidationsFTP",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Mida_Validations_FTPServer_Folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FtpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false,
						"useBinaryTransfer": true,
						"disableChunking": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ProcessValidationsFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ScanValidationsFTP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ScanValidationsFTP').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetValidationsFileName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "validationsFileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ParseValidationsDate",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetValidationsFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "validationsDate",
								"value": {
									"value": "@substring(variables('validationsFileName'), 27, 8)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetValidationsFolderPath",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ParseValidationsDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "validationsFolderPath",
								"value": {
									"value": "@concat('Mida/Validations/', substring(variables('validationsDate'), 0, 4), '/', substring(variables('validationsDate'), 4, 2))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CheckValidationsExists",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "SetValidationsFolderPath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "VFD_DS_Raw_Mida_Validations_Excel",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "@variables('validationsFolderPath')",
										"fileName": "@variables('validationsFileName')"
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "IfValidationsNotExists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CheckValidationsExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(activity('CheckValidationsExists').output.exists)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "DownloadValidationsFromFTP",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 3,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "FtpReadSettings",
													"recursive": false,
													"useBinaryTransfer": true,
													"disableChunking": false
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "VFD_DS_Mida_Validations_FTPServer_Binary",
												"type": "DatasetReference",
												"parameters": {
													"fileName": "@variables('validationsFileName')"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "VFD_DS_Raw_Mida_Validations_Binary",
												"type": "DatasetReference",
												"parameters": {
													"folderPath": "@variables('validationsFolderPath')",
													"fileName": "@variables('validationsFileName')"
												}
											}
										]
									},
									{
										"name": "ProcessValidationsPipeline",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "DownloadValidationsFromFTP",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "VFD_PL_Process_Validations_SQL",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"folderPath": {
													"value": "@variables('validationsFolderPath')",
													"type": "Expression"
												},
												"fileName": {
													"value": "@variables('validationsFileName')",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"validationsFileName": {
				"type": "String"
			},
			"validationsDate": {
				"type": "String"
			},
			"validationsFolderPath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Mida"
		},
		"annotations": []
	}
}