pipeline/VFD_PL_List_Raw_CSV_Files.json
{
	"name": "VFD_PL_List_Raw_CSV_Files",
	"properties": {
		"description": "Pipeline per elencare tutti i file CSV in modo ricorsivo e salvare l'elenco in un file di testo",
		"activities": [
			{
				"name": "GetAllCSVFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VFD_DS_Raw_Mida_Bookings_Folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "SetInitialContent",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetAllCSVFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileContent",
					"value": {
						"value": "File List:\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachCSVFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SetInitialContent",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetAllCSVFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetTempContent",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "tempContent",
								"value": {
									"value": "@concat(variables('fileContent'), item().path, ', ', item().name, '\n')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "UpdateFileContent",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetTempContent",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileContent",
								"value": {
									"value": "@variables('tempContent')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "WriteFile",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEachCSVFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						},
						"data": {
							"value": "@variables('fileContent')",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "VFD_DS_Binary_Dummy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "VFD_DS_FileList",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"fileContent": {
				"type": "String"
			},
			"tempContent": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Mida/Utils"
		},
		"annotations": []
	}
}